:root {
  --primary: rgb(2, 117, 216);

  --success: green;

  --danger: red;

  --warning: rgb(240, 173, 78);

  --info: rgb(0, 116, 155);

  --indigo: rgb(128, 35, 194);
}

.placeholder-raiser-input-primary:focus {
  border-color: var(--primary) !important;
}

.placeholder-raiser-input-success:focus {
  border-color: var(--success) !important;
}

.placeholder-raiser-input-danger:focus {
  border-color: var(--danger) !important;
}

.placeholder-raiser-input-warning:focus {
  border-color: var(--warning) !important;
}

.placeholder-raiser-input-info:focus {
  border-color: var(--info) !important;
}

.placeholder-raiser-input-indigo:focus {
  border-color: var(--indigo) !important;
}
