.placeholder-raiser-div {
  position: relative;
  /* width: 50%; */
  width: 100%;
}

.placeholder-raiser-div .placeholder-raiser-input {
  width: 100%;
  outline: none;
  border: none;
  padding-left: 3%;
  padding-right: 3%;
  height: 48px;
  border-radius: 5px;

  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;

  border-width: 2px;
  /* box-shadow: none !important; */
}

.placeholder-raiser-div .placeholder-raiser-label {
  position: absolute;
  pointer-events: none;
  /* top: 18px; */
  top: 36px;
  left: 10px;
  transition: 0.2s ease all;

  padding: 0 4px;
  border-radius: 160px;
  color: #666;

  background-color: white;
}

.placeholder-raiser-div input:focus ~ .placeholder-raiser-label,
.placeholder-raiser-div input:not(:focus):valid ~ .placeholder-raiser-label {
  /* top: 4px; */
  top: 16px;
  left: 10px;
  font-size: 13px;
  color: #222;

  opacity: 1;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.drag-area {
  border: 2px dashed #fff;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #5256ad;
}
.drag-area.active {
  border: 2px solid #fff;
}
.drag-area .icon {
  font-size: 100px;
  color: #fff;
}
.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
