/* violet highlight */
.vh{
display: inline;
padding: 3px 6px;
border-radius: 2px;

color:violet;
background-color: rgba(216, 191, 216, 0.5);
border:1px solid rgba(238, 130, 238, 0.3);
}



/* red highlight */
.rh{
display: inline;
padding: 3px 6px;
border-radius: 2px;
font-style: italic;

color:red;
background-color: rgba(255, 207, 207,0.5);
border:1px solid rgba(255, 128, 128,0.3);
}



/* blue highlight */
.gh{
display: inline;
padding: 3px 6px;
border-radius: 2px;

color: green;
background-color: rgba(207, 255, 207,0.5);
border:1px solid rgba(128, 255, 128,0.3);
}



/* blue highlight */
.bh{
display: inline;
padding: 3px 6px;
border-radius: 2px;

color:blue;
background-color: rgba(207, 207, 255,0.5);
border:1px solid rgba(128, 128, 255,0.3);
}



/* yellow highlight */
.yh{
display: inline;
padding: 3px 6px;
border-radius: 2px;

color:rgb(200, 200, 0);
background-color: rgba(255, 255, 0,0.2);
border:1px solid rgba(255, 255, 0,0.8);
}




/* yellow highlight */
.oh{
display: inline;
padding: 3px 6px;
border-radius: 2px;

color:orange;
background-color: rgba(255, 165, 0,0.2);
border:1px solid rgba(255, 165, 0,0.8);
}


/* indigo highlight */
.ih{
display: inline;
padding: 3px 6px;
border-radius: 2px;


color:indigo;
background-color: rgba(75, 0, 130,0.2);
border:1px solid rgba(75, 0, 130,0.8);
}


