html, body{
margin:0;
scroll-behavior: smooth;

/* background-color: rgb(192, 192, 192); */
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    /* display: none; */
}
  
body {
    /* -ms-overflow-style: none; */
}


/* width */
body::-webkit-scrollbar {
  /* width: 10px;
  height: 5px; */
}

/* Track */
body::-webkit-scrollbar-track {
  /* border-radius: 5px; */

  /* background-color: #f1f1f1; */
}


/* Handle */
body::-webkit-scrollbar-thumb {
  /* background: #888; */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}