i {
border: solid black;
border-width: 0 0 0 0;

display: inline-block;
}

.arrow-up {
width: 0; 
height: 0; 

border-left: 6px solid transparent;
border-right: 6px solid transparent;

border-bottom: 6px solid whitesmoke;
}

.arrow-down {
width: 0; 
height: 0; 

border-left: 6px solid transparent;
border-right: 6px solid transparent;

border-top: 6px solid whitesmoke;
}


.arrow-right {
width: 0; 
height: 0; 
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;

border-left: 6px solid whitesmoke;
}