#topnav {
position: fixed;
top: 0;
  /* width: 100%; */
z-index: 1;

/* display: none; */

padding-top: 1%;
/* border-bottom: 1px solid rgb(138, 43, 226, 0.2); */
border-bottom: 1px solid rgb(149, 72, 221);

transition: 0.1s;
/* background-color: rgb(138, 43, 226, 0.1); */
background-color: rgb(182, 145, 216);
}
  
  

.topnav-right-fa{
/* margin-right: 14px; */
margin-right: 24px;
margin-left: 14px;

/* padding-top:2px; */
/* padding-bottom:2px; */

color:rgb(80, 80, 80);
}

.topnav-right-fa-inactive{
/* padding-top:2px; */
/* padding-bottom:2px; */

  color:rgb(102, 102, 102);
}

.topnav-right-fa-active{

/* padding-top:0; */
/* padding-bottom:4px; */
/* transform: scaleX(1.5); */
/* transform: scaleY(1.3); */
transform: scale(1.1);

color:blue;
}



#search_box{
  margin-left:2%;
}

#search_box_fa_icon_container{
  /* background-color: white; */
}


#search_bar_md_container{
/* display: none; */
  /* transition: 5s; */
}










/* Progress Bar <start> *//* Progress Bar <start> *//* Progress Bar <start> *//* Progress Bar <start> *//* Progress Bar <start> *//* Progress Bar <start> */

.progress_bar_container{
/* top:45px; */
position: fixed;
display: block;
height: 0.5vh;
width: 100%;

/* background-color: rgba(100,100,100,0); */
background-color: rgb(12, 60, 96);
}


.progress_bar_container_border{
/* background-color: rgb(250, 250, 250); */
/* background-color: rgb(200, 200, 200); */

/* background-color: rgb(109, 109, 109); */
background-color: rgb(12, 60, 96);
}  

.progress_bar_container_down{
/* background-color: rgb(250, 250, 250); */
/* background-color: rgb(200, 200, 200); */

/* background-color: rgb(109, 109, 109); */
background-color: rgb(12, 60, 96);
}



.progress_bar {
position: fixed;
z-index: 9;
display: block;
height: 0.5vh;
width: 0%;

background-color: rgb(12, 60, 96);
/* background-color: rgb(163, 0, 204); */
}


#progress_bar_id{
transition: .1s;

/* background-color: rgb(12, 60, 96); */
/* background-color: rgb(108, 0, 134); */
/* background-color: rgb(86, 86, 255); */
background-color: rgb(48,175,218);
}


/* Progress Bar <end> *//* Progress Bar <end> *//* Progress Bar <end> *//* Progress Bar <end> *//* Progress Bar <end> *//* Progress Bar <end> *//* Progress Bar <end> */

















/* TopNav <start> *//* TopNav <start> *//* TopNav <start> *//* TopNav <start> *//* TopNav <start> *//* TopNav <start> *//* TopNav <start> *//* TopNav <start> */

#topnav_container{
  /* display: none; */
  background-color: rgb(12, 60, 96);
}


.topnav_border{
  /* background-color: rgb(250, 250, 250); */
  /* background-color: rgb(150, 150, 150); */
  /* background-color: rgb(200, 200, 200); */
  /* background-color: rgb(220, 220, 220); */
  /* background-color: rgb(235, 235, 235); */
  /* background-color: rgb(109, 109, 109); */
  background-color: rgb(12, 60, 96);
}


.topnav_down{
box-shadow: 0px 1px 10px #999;
}

/* TopNav <end> *//* TopNav <end> *//* TopNav <end> *//* TopNav <end> *//* TopNav <end> *//* TopNav <end> *//* TopNav <end> *//* TopNav <end> *//* TopNav <end> */















/* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur *//* Naya Daur */

#topnav_logo{
  float: left;
  padding: 14px 16px;
  text-align: center;
}



#topnav_logo_exapanded{
float: left;
display: none;

padding: 10px 14px;
padding-top: 15px;

color:rgb(100, 78, 78);
}




.topnav_left_element{
display: inline;


color:white;
}


.topnav_left_element a{
padding: 10px 14px;
padding-top: 13px;
font-size: 130%;
font-weight: bold;
float: left;

color: rgb(48,175,218);
}


.topnav_left_element a:hover{
text-decoration: underline;
}





.topnav_right {
float: right;
/* right: 0; */
}



#navbar_right{
  margin-top: 0.6%;
}

.topnav_right_element{
    display: inline;
}


.topnav_right_element  a{
  float: left;
padding: 10px 14px;
padding-top: 19px;
/* text-align: center; */

font-weight: bold;
}


.topnav_right_element  a:hover{
text-decoration: underline;
}












.dropdown { 
  position: static !important; 
} 


.dropdown-menu { 
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
  margin-top: 0px !important; 
  margin-left: 2%;
  margin-right: 2%;
  width: 94% !important; 
} 

#topnav_full_row{
  /* display: none; */
}



#topnav_short_row{
  float: right;
  margin-right: 2%;
  display: none;
}

#topnav_expand_container{
  /* float: right; */
  margin-top: 1vh;
}

#topnav_expand_container button{
background-color: rgb(12, 60, 96);
}


#dropdown_menu_area{
  background-color: rgb(225, 225, 225);
}




#topnav_expand_left a{
font-weight: bold;

color: rgb(48,175,218);
}

#topnav_expand_right a{
font-weight: bold;

color: blue;
}




#logo_writing{
font-weight: bold;
/* margin-top: 10px; */
margin-top: 6px;
font-size: 180%;

/* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
/* font-family: "Comic Sans MS", "Comic Sans", cursive; */
/* font-family: "Comic Sans MS", cursive, sans-serif; */
/* font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; */
/* font-family: "Comic Sans MS", "Comic Sans", cursive; */


/* color: rgb(163, 0, 204);     */
color: white;
}

#logo_writing:hover{


color: rgb(163, 0, 204);    
}