.topnav_wrapper {
  display: flex;
  justify-content: space-between;

  /* display: none; */
  /* background-color: cornsilk; */
  /* background-color: rgb(185, 253, 183); */
  background-color: rgb(240, 240, 255);
  border-bottom: 1px solid rgb(149, 130, 255);
  padding: 2px 50px;
}

.square-rounded {
  border-radius: 2px;
}

.topnav__right {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  min-width: 10vw;
}

.text_type1 {
  font-size: 70%;
  font-weight: bold;
  /* color: rgb(85, 85, 85); */
  color: rgb(40, 202, 18);
  margin-right: 3px;
}

.drop__arrow {
  font-size: 10%;
}

.up__arrow {
  font-size: 10%;
  color: rgb(149, 149, 255);
}

.dropdown__wrapper {
  /* background-color: grey; */
}

.dropdown {
  width: 50%;
  /* z-index: 1; */
  display: block;
  margin-left: auto;
  /* background-color: grey; */
}

.dropdown-sub-heading {
  margin-top: 6px;
  margin-bottom: 24px;
}

.dropdown-intr-content {
  transition: 0.1s;
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-job-content {
  transition: 0.1s;
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.row-dropdown {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  margin-top: 10px;
}

.column-dropdown {
  /* width: 100%; */
  /* text-align: center; */
}

.column-dropdown > a {
  display: block;
  margin-bottom: 14px;
  text-decoration: none;
  color: grey;
  padding: 10px 14px;
  /* padding-left: 5%; */
  /* width: 70%; */
  border-radius: 2px;
}

.column-dropdown > a:hover {
  /* text-decoration: underline; */
  background-color: rgb(212, 212, 255);
}

.dropdown-add-entity {
  padding: 16px;
  display: block;
}

.dropdown-add-entity:hover {
  background-color: rgba(34, 34, 200, 0.4);
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.dropdown-row-bottom {
  border-top: 1px solid rgb(98, 98, 189);
  border-bottom: 1px solid rgb(255, 255, 255, 0);

  padding: 20px 20px;

  text-decoration: none;
  color: rgb(98, 98, 189);
  font-weight: bold;

  display: block;
  /* width: 100%; */
}

.dropdown-row-bottom:hover {
  background-color: rgba(98, 98, 189, 0.1);
  text-decoration: none;
}

.logo {
  width: 28px;
}

.searchboxContainer {
  /* width: 90%; */
  display: inline-block;
}

.account-icon{
  color:blue;
  /* background-color:blue; */
}