.google-btn-top{
border-top: 3px solid;
border-bottom: 3px solid rgb(128, 128, 128, 0.1);
border-left: 1px solid 	rgb(128, 128, 128, 0.1);
border-right: 1px solid rgb(128, 128, 128, 0.1);
}


.google-btn-bottom{
border-bottom: 3px solid;
border-top: 3px solid rgb(128, 128, 128, 0.1);
border-left: 1px solid 	rgb(128, 128, 128, 0.1);
border-right: 1px solid rgb(128, 128, 128, 0.1);
}

.google-btn-left{
border-left: 3px solid;
border-bottom: 3px solid rgb(128, 128, 128, 0.1);
border-top: 1px solid 	rgb(128, 128, 128, 0.1);
border-right: 1px solid rgb(128, 128, 128, 0.1);
}

.google-btn-right{
border-right: 3px solid;
border-bottom: 3px solid rgb(128, 128, 128, 0.1);
border-left: 1px solid 	rgb(128, 128, 128, 0.1);
border-top: 1px solid rgb(128, 128, 128, 0.1);
}