.google-btn-sm{
    padding:4px 12px;
    font-size: 12px;
}


.google-btn-md{
    padding:8px 18px;
    font-size: 18px;
}


.google-btn-lg{
    padding:12px 24px;
    font-size: 24px;
}


.google-btn-xl{
    padding:20px 30px;
    font-size: 30px;
}


.google-btn-yl{
    padding:24px 36px;
    font-size: 36px;
}