


.checkbox-inactive{

border: 1px solid grey;



box-shadow: none;
color:gray;
background-color: white;
outline: none;
}

.checkbox-inactive:focus{
    outline:none;
}




.checkbox-active{
border: 1px solid grey;



box-shadow: none;
color:white;
outline: none;
}

.checkbox-active:focus{
    outline:none;
}